//-Navbar
<nav class="panel top black">

    //-Navbar Desktop
    <div class="sections desktop hidden">

        //-Navbar izquierda Desktop
        <div class="left">
            <a href="#" title="Slides Framework">
                <svg class="noFill middle" width="30" height="30"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="crop margin-left-1 inlineBlock middle">App Name</p>
            </a>
        </div>

        //-Navbar central Desktop
        <div class="center">
            <ul class="menu">
                <li><a href="#">Prueba de cambio</a></li>
                <li><a href="#">REVIEWS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SUPPORT</a></li>
            </ul>
        </div>

        //-Navnbar derecha Desktop
        <div class="right"><a href="#">GET AN ACCOUNT</a></div>
    </div>

    //-Navbar Mobile
    <div class="sections compact black">

        //-Navbar Mobile izquierda
        <div class="left">
            <a href="#" title="Slides Framework">
                <svg class="noFill middle" width="30" height="30"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="crop margin-left-1 inlineBlock middle">App Name</p>
            </a>
        </div>

        //-Navbar Mobile derecha
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>
    </div>
</nav>